*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: fonteA;
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: fonteB;
    src: url(../fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
    font-family: fonteC;
    src: url(../fonts/static/PlusJakartaSans-Medium.ttf);
}
body{
    box-sizing: border-box;
    background-color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'fonteA','fonteB','fonteC';
    font-size: 14px;
    
}
.container{
    width: 600px;
    height: 550px;
    background-color:#fff ;
    color: #555;
    margin-top: 30px;
    border-radius: 5px;
}
 #headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    width:600px;
    height: 60px;
}
 #header-right{
    color: #555;
    cursor: pointer;
    margin-right: 20px;
}
 #header-right:hover{
    color: #000;
}
 #header-left{
    display: flex;
    align-items: center;
    
    margin-left:10px;
    color: #000;
    font-size: 14px;
}
 #header-left > h1{
margin-right: 15px;
}
 #noticationsQuantity {
width: 25px;
height: 25px;
background-color: #00f;
color:#fff ;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.name-user{
    font-weight: bolder;
    color: #000;
    font-size: 13px;
    padding: 0px 3px;
}
.interaction{
   color: #333;
}
.notification{
    width: 80px;
    height: 40px;
}

.users{
    width: 100%;
    height: 50px;
}
.users img{
    width: 35px;
    height:35px;
    object-fit: contain;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}
.user{
    display: grid;
    grid-template-columns:50px 600px ;
    align-items: center;
    margin: 5px 5px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #eee;
    max-width: 100%;
    word-wrap: break-word;
}
.user p{
    font-size: 12px;
    margin:0 0 ;
    word-wrap: break-word;
    width: 300px;
}
.user:hover{
    background-color: #ccc;
}
.user5 .notification{
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.user5 .notificationRight{
   margin-left: 180px;
   
}

.club{
    color: rgb(2, 2, 146);
    font-weight: bolder;
    padding: 0 3px;
}

.publication-time{
    font-size: 11px;
}

@media (max-width:768px){
  .container{
    padding-bottom: 20px;
  }
    #header-right{
        word-wrap: break-word;
        cursor: pointer;
    }
   .user{
    margin-bottom: 10px;
   }
}

@media (max-width:425px){
    .container{
        padding:5px 0;
        margin-top: 80px;
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .user{
        width: 400px;
        margin-bottom: 10px;
        margin: 5px 0;
        padding: 0;
    }
    #headerContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
      #header-right{
          word-wrap: break-word;
          cursor: pointer;
      }
      .users{
        width: 400px;
      }
      .user5 .notificationRight{
        margin-left: 0px;
     }
     .user img{
        width: 30px;
        height: 30px;
     }
     .user p{
       font-size: 10px;
     }
     .name-user{
        font-weight: bolder;
        color: #000;
        font-size: 12px;
        padding: 0px 0px;
    }
    .publication-time{
        font-size: 10px;
    }

    
 }

