*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: fonteA;
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: fonteB;
    src: url(../fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
    font-family: fonteC;
    src: url(../fonts/static/PlusJakartaSans-Medium.ttf);
}
body{
    box-sizing: border-box;
    background-color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'fonteA','fonteB','fonteC';
    font-size: 14px;
    
}
main{
    width: 40vw;
    height: 80vh;
    background-color:#fff ;
    color: #555;
    margin-top: 60px;
    border-radius: 5px;
}
 header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    width: 40vw;
    height: 60px;
}
 #header-right{
    color: #555;
    cursor: pointer;
    margin-right: 20px;
}
 #header-right:hover{
    color: #000;
}
 #header-left{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left:10px;
    color: #000;
    font-size: 14px;
}
 #header-left > h1{
margin-right: 15px;
}
 #noticationsQuantity {
width: 25px;
height: 25px;
background-color: #00f;
color:#fff ;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.name-user{
    font-weight: bolder;
    color: #000;
    font-size: 14px;
    padding: 0px 3px;
}
.interaction{
   color: #333;
}
.users{
    width: 40vw;
    height: 40px;
}
.users img{
    width: 35px;
    height:35px;
    object-fit: contain;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user{
    display: grid;
    grid-template-columns:50px 600px ;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: #eee;
    max-width: 800px;
}
.user p{
    font-size: 13px;
    margin:4px 0 ;
    word-wrap: break-word;
}
.user:hover{
    background-color: #ccc;
}
.user5 .notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33vw;
}
.notification{
    width: 40vw;
    height: 40px;
}

.club{
    color: rgb(2, 2, 146);
    font-weight: bolder;
    padding: 0 3px;
}

@media (min-width:425px) and (max-width:768px){
    header{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    header #header-left h1{
        display: grid;
       font-size:20px;
        grid-template-columns: repeat(2,65px);
        align-items: center;
        justify-content: center;
    }
    header #header-right{
        display: grid;
        grid-template-columns: 100px ;
        align-items: center;
        justify-content: center;
    }
    .user{
        width: 38vw;
        height: 40px;
        display: flex;
        justify-content: flex-end;
    }
    .user img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .user p{
        width: 30vw;
        height: 30px;
        font-size: 11px;
    }
    .user5 .notificationRight img{
        height: 30px;
        width: 30px;
    }
    .name-user{
        font-size: 11px;
        font-weight: bolder;
    }
}